/strategy-patern/target/
/observer-pattern/nbproject/private/
/observer-pattern/build/
/observer-pull-pattern/target/
/decorator-pattern/target/
/factory-method-pattern/target/
/_abstract-factory-pattern/target/
/singleton-pattern/target/
/remotes-servers-command-pattern/target/
/objectville-diner-command-pattern/target/
/command-pattern/target/